body {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tat-input-wrapper {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;

  input {
    width: 100%;
    padding: 5px 5px 5px 10px;
    border: none !important;
    border-radius: 4px;
    &::placeholder {
      color: #d3d3d3;
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
    &:focus-visible {
      outline: none;
    }
  }
  .tat-input-label {
    position: absolute;
    padding: 0 5px;
    font-size: 10px;
    background: white;
    top: -8px;
    left: 5px;
    z-index: 100;
    line-height: normal;
  }
  &:hover {
    border-color: #999;
  }

  &.error {
    border-color: #dc3545;
  }

  .tat-input-error {
    margin-top: 4px;
    font-size: 12px;
    color: #dc3545;
    position: absolute;
    left: 10px;
    background: white;
    top: 20px;
  }

  .form-control {
    width: 100% !important;
  }
  .flag-dropdown {
    border: none !important;
    background-color: white !important;

    .country-list {
      margin: 0;
    }
  }
}
