@use "../styles/variables" as *;

.tat-tooltip {
  .tooltip-inner {
    background: $tat-color-surface;
    color: #000;
    border: 1px solid #000;
    max-width: 400px;
    text-align: left;
  }

  &.tat-tooltip-inverted {
    .tooltip-inner {
      background: #000;
      color: $tat-color-surface;
      border: 1px solid #000;
      max-width: 400px;
      text-align: left;
    }
  }
}

.tat-tooltip-icon {
  svg {
    color: $tat-color-info;
    fill: $tat-color-info-soft;
    vertical-align: text-top;
  }
}
